.hidden {
    display:none;
}

.ui-text{
    text-shadow: 2px 2px #4e4e4e;
}

body{text-align:center}

.centered-top{
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.centered-bottom{
    position: fixed; 
    bottom: 10px; 
    width:100%; 
    text-align: 
    center; z-index: 1;
}

@media only screen and (max-width: 600px) {
    .centered-top{
        position: fixed;
        top: 10px;
        width: auto;
        text-align: center;
        z-index: 1;
        left: 29%;
        float:left;
    }
    .centered-bottom{
        position: fixed; 
        bottom: 10px; 
        width:auto; 
        text-align: center; 
        z-index: 1;
        left:16%;
    }

  }

