.hidden {
    display:none;
}
.arrow-button {
    font-size:1.5em;
    color:white;
    background:none;
    border:none;
    padding: 0px 0px;
    text-shadow: 2px 2px #4e4e4e;
}

.arrow-button:hover {
    color:rgb(0, 132, 255);
    text-shadow: none;
}

.toggle {
    font-size:.8em;
    color:white;
    background:none;
    border:none;
    padding: 0px 0px;
    text-shadow: 2px 2px #4e4e4e;
}

.toggle:hover {
    color:rgb(0, 132, 255);
    text-shadow: none;
}

.arrow-button:disabled,
.arrow-button[disabled]{
opacity: 0.3;
}

.ui-text{
    text-shadow: 2px 2px #4e4e4e;
}

body{text-align:center}

.centered-top{
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.centered-bottom{
    position: fixed; 
    bottom: 10px; 
    width:100%; 
    text-align: 
    center; z-index: 1;
}

.bottom-left{
    position: relative;
    right:1px;
    z-index: 1;
    display: inline-flexbox;
    text-align:center;
}

.bottom-right{
    position: relative;
    left:1px;
    z-index: 1;
    display: inline-flexbox;
    text-align:center;
}

@media only screen and (max-width: 600px) {
    .centered-top{
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
        z-index: 1;
        left: 0%;
    }
    .centered-bottom{
        position: absolute; 
        bottom: 10px; 
        width:100%; 
        text-align: center; 
        z-index: 1;
        left:0%
    }

  }



